<form (ngSubmit)="submitPost($event)" style="opacity:70%" >
    <div  class="form-group">
        <label for="files" class="btn btn-light">Select Image</label>
        <input type="file" id="files" style="visibility:hidden;" (change)="onFileChange($event)"/>
    </div>
    <div  class="form-group">
        <label>Hashtags</label>
        <input type="text" [(ngModel)]="hashtags" name="hashtags"/>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" [(ngModel)]="userTags" name="userTags"/>
    </div>
    <div  class="form-group">
        <input type="submit" value="Submit">
    </div>
</form>